[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=mlb-ui
Exec=/usr/bin/single-instance /opt/mlb-ui/bin/mlb-ui
Icon=/usr/share/icons/hicolor/80x80/apps/mlb-ui80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
